<% set_page_title "Log in" %>

<div class="rw-column rw-content">
  <div class="rw-row page-title">
    <h1>Welcome</h1>
  </div>

  <div class="rw-row">
    <div class="grid-container">
      <%= link_to "Log in with Google", auth_path, class: 'button primary' %>
    </div> <!-- .grid-container -->
  </div> <!-- .rw-row -->
</div> <!-- .rw-content -->
