<% set_page_title "Sources" %>

<div class="rw-column rw-content">

  <%= breadcrumb "Sources" %>

  <div class="rw-row page-title">
    <h1>Sources</h1>
  </div>

  <div class="rw-row">

    <div class="recipes-list">

      <% @sources.each do |source| %>
        <%= render 'listed_source', source: source %>
      <% end %>

    </div> <!-- .recipes-list -->

    <%= paginate @sources %>

  </div>
</div>
