<% set_page_title "New Source" %>

<div class="rw-column rw-content">

  <div class="rw-row page-title">
    <h1>New Source</h1>
  </div>

  <div class="rw-row">

    <div class="grid-container">
      <%= render 'form' %>
    </div> <!-- .grid-container -->

  </div> <!-- .rw-row -->

</div> <!-- .rw-content -->
