<div class="grid-container">
  <div class="grid desk-6">
    <div class="entry-photo">
      <div class="badge">Recipe of the day</div>
      <img src="assets/placeholder/food/560x380/21.jpg" alt="" />
    </div>
  </div>
  <div class="grid desk-6">
    <h3><a href="#">Meatballs with tomato sauce</a></h3>
    <p>Pellentesque non nibh eros. Nunc lectus lacus, interdum et consequat et, varius sit amet ipsum. Fusce convallis, lorem sit amet bibendum accumsan, mark example consectetursup adipisicingsub nec mattis dui nisi a lacus. Aenean bibendum dui quis pellentesque dictum. Cras aliquet risus id nisi feugiat vulputate...</p>

    <div class="entry-meta clearfix">
      <div class="meta favorites">
        <span class="icon"><i class="the-icon fa fa-heart-o"></i></span>
        <span class="number">89 favorites</span>
      </div>
      <div class="meta likes">
        <span class="icon"><i class="the-icon fa fa-thumbs-o-up"></i></span>
        <span class="number">225 likes</span>
      </div>
      <div class="meta comments">
        <span class="icon"><i class="the-icon fa fa-comments"></i></span>
        <span class="number">26 comments</span>
      </div>
    </div>
    <div class="clear"></div>

    <div class="entry-info-author">
      <img src="assets/placeholder/people/80x80/21.jpg" alt="" />
      <div class="submited-by">Author:</div>
      <div class="author-name"><a href="#">Sandra Williams</a> <span class="mark green" title="Pro member!">Pro</span></div>
      <div class="total-recipes">136 recipes</div>
    </div>

  </div>
</div>
