<div class="grid-container carousel-container">

  <div class="grid desk-6 mob-6">
    <h4 class="carousel-posts-heading"><%= title %></h4>
  </div>
  <div class="grid desk-6 mob-6">
    <div class="carousel-posts-nav clearfix">
      <div class="carousel-posts-nav-next"><i class="fa fa-chevron-right"></i></div>
      <div class="carousel-posts-nav-prev"><i class="fa fa-chevron-left"></i></div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="home-carousel-posts clearfix">

    <%= render partial: 'recipe', collection: recipes %>

  </div> <!-- .home-carousel-posts -->

</div>
