<% if ingredient.parsed? %>
  <li>
    <div>
      <%= ingredient.linked_ingredient_list %>
    </div>
    <div>
      <div><%= ingredient.description %></div>
      <% if ingredient.note.present? %>
        <div><%= ingredient.note %></div>
      <% end %>
    </div>
  </li>
<% else %>
  <li>
    <div><%= ingredient.line %></div>
  </li>
<% end %>
