<% if ingredient.parsed? %>
  <li bind-event-click="utils.toggleClass(this, 'active')">
    <div class="mark-as-ok"><i class="fa fa-check"></i></div>
    <div class="ingredient"><%= link_to_if ingredient.ingredient_path, ingredient.name, ingredient.ingredient_path %></div>
    <div class="quantity">
      <div class="qt"><%= ingredient.description %></div>
      <% if ingredient.note.present? %>
        <div class="qt-notes"><%= ingredient.note %></div>
      <% end %>
    </div>
  </li>
<% else %>
  <li>
    <div><%= ingredient.line %></div>
  </li>
<% end %>
