<div class="entry style-columns">
  <div class="entry-photo">
    <img src="assets/placeholder/food/350x240/12.jpg" alt="" />
  </div>
  <div class="entry-title">
    <a href="#">African Chicken Peanut Stew</a>
  </div>
  <div class="entry-meta">
    <span class="date">21 Aug 2014</span>
  </div>
  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod
    tempor incididunt...</p>
  </div>
  <div class="entry-controls">
    <a href="#" class="control entry-to-favorites" title="Add to favorites"> <i class="fa fa-heart-o"></i> </a><span class="control-tip">24</span>
    <a href="#" class="control entry-like" title="I like this!"> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">115</span>
  </div>
</div> <!-- .entry -->
