<div class="entry style-columns">
  <div class="entry-photo">
    <%= image_tag recipe.image('350x240'), alt: recipe.title %>
  </div>
  <div class="entry-title">
    <%= link_to recipe.title, recipe_path(recipe)%>
  </div>
  <div class="entry-meta">
    <span class="date">21 Aug 2014</span>
  </div>
  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod
    tempor incididunt...</p>
  </div>
  <div class="entry-controls">
    <a href="#" class="control entry-to-favorites" title="Add to favorites"> <i class="fa fa-heart-o"></i> </a><span class="control-tip">24</span>
    <a href="#" class="control entry-like" title="I like this!"> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">115</span>
  </div>
</div> <!-- .entry -->
