<div class="entry-info-author">
  <%= image_tag source.image(:mini) %>
  <div class="author-name"><%= link_to source.name, source_path(source) %></div>
  <% if source.author %>
    <div class="author-name">by <%= source.author %></div>
  <% end %>
</div>
