<% set_page_title "Edit: #{@recipe.title}" %>

<div class="rw-column rw-content">

  <%= breadcrumb 'Edit', @recipe.title => recipe_path(@recipe) %>

  <div class="rw-row page-title">
    <h1><%= @recipe.title %></h1>
  </div>

  <div class="rw-row">

    <div class="grid-container">
      <%= render 'form' %>
    </div> <!-- .grid-container -->

  </div> <!-- .rw-row -->

</div> <!-- .rw-content -->
