<% set_page_title "Recipes" %>

<div class="rw-column rw-content">

  <%= breadcrumb "Recipes" %>

  <div class="rw-row page-title">
    <h1>Recipes</h1>
  </div>

  <div class="rw-row">

    <div class="recipes-list">

      <% @recipes.each do |recipe| %>
        <%= render 'recipes/listed_recipe', recipe: recipe %>
      <% end %>

    </div> <!-- .recipes-list -->

    <%= paginate @recipes %>

  </div>
</div>
