<% set_page_title "All Recipes" %>

<ul class="activity">
  <% @recipes.each do |recipe| %>
    <li class="activity-item">
      <div class="activity-info">
        <%= link_to recipe_path(recipe) do %>
          <h2><%= recipe.title %></h2>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
