<div class="rw-column rw-sidebar">
  <div class="the-sidebar">
    <!-- Widget -->
    <aside class="widget widget-search">

      <div class="widget-title"><h3>Search</h3></div>

      <form method="get" class="search-form" action="">
        <input type="text" class="search-field fullwidth" name="s" placeholder="Type keyword and press enter" value="">
      </form>

    </aside> <!-- .widget -->
    <!-- / Widget -->

    <!-- Widget -->
    <aside class="widget widget-posts">

      <div class="widget-title"><h3>Most popular recipes</h3></div>
      <div class="widget-posts-list">
        <% @popular_recipes.each do |recipe| %>
          <%= render 'shared/sidebar_recipe', recipe: recipe %>
        <% end %>
      </div>

    </aside> <!-- .widget -->
    <!-- / Widget -->

    <!-- Widget -->
    <aside class="widget widget-categories">

      <div class="widget-title"><h3>Categories</h3></div>

      <ul>
        <li><a href="#">Breakfast <span class="mark light-gray">157</span></a></li>
        <li><a href="#">Lunch <span class="mark light-gray">24</span></a></li>
        <li><a href="#">Beverages <span class="mark light-gray">54</span></a></li>
        <li><a href="#">Appetizers <span class="mark light-gray">359</span></a></li>
        <li><a href="#">Soups <span class="mark light-gray">98</span></a></li>
        <li><a href="#">Salads <span class="mark light-gray">195</span></a></li>
        <li><a href="#">Main dishes: Beef <span class="mark light-gray">280</span></a></li>
        <li><a href="#">Main dishes: Poultry <span class="mark light-gray">450</span></a></li>
        <li><a href="#">Main dishes: Pork <span class="mark light-gray">84</span></a></li>
        <li><a href="#">Main dishes: Seafood <span class="mark light-gray">370</span></a></li>
        <li><a href="#">Main dishes: Vegetarian <span class="mark light-gray">328</span></a></li>
        <li><a href="#">Side dishes: Vegetables <span class="mark light-gray">352</span></a></li>
        <li><a href="#">Side dishes: Other <span class="mark light-gray">99</span></a></li>
        <li><a href="#">Desserts <span class="mark light-gray">348</span></a></li>
        <li><a href="#">Canning / Freezing <span class="mark light-gray">61</span></a></li>
        <li><a href="#">Breads <span class="mark light-gray">234</span></a></li>
        <li><a href="#">Holidays <span class="mark light-gray">374</span></a></li>
        <li><a href="#">Entertaining <span class="mark light-gray">176</span></a></li>
      </ul>

    </aside> <!-- .widget -->
    <!-- / Widget -->

    <!-- Widget -->
    <aside class="widget widget-text">

      <div class="widget-title"><h3>Text widget</h3></div>

      <div class="widget-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </div> <!-- .entry -->

    </aside> <!-- .widget -->
    <!-- / Widget -->

  </div> <!-- .the-sidebar -->
</div> <!-- .rw-sidebar -->
