<% set_page_title @ingredient.name.titleize %>

<%= ui_content_section(title: "Other names") do %>
  <%= @ingredient.alternate_names.join(', ') %>
<% end %>

<%= ui_content_section(title: "Mergo into:") do %>
  <ul>
    <% Ingredient.not_including(@ingredient).find_each do |ing| %>
      <li><%= link_to ing.name, ingredient_merge_path(ing, id: @ingredient.id), method: :post %></li>
    <% end %>
  </ul>
<% end %>
