<div class="rw-section rw-footer">
  <div class="rw-inner clearfix">
    <div class="grid-container">

      <div class="grid desk-6">
        <div class="footer-totals clearfix">

          <div class="total red clearfix">
            <a href="recipes.php">
              <span class="mark value">13472</span>
              <span class="type">Recipes</span>
            </a>
          </div>

          <div class="total green clearfix">
            <a href="members.php">
              <span class="mark value">5649</span>
              <span class="type">Members</span>
            </a>
          </div>

          <div class="total blue clearfix">
            <a href="public-collections.php">
              <span class="mark value">728</span>
              <span class="type">Collections</span>
            </a>
          </div>

        </div>
      </div>

      <div class="grid desk-6">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

    </div>
    <a class="footer-to-top" title="Go to top" bind-event-click="utils.scrollTo('#rw-layout', 500)" define="{utils: new Recipes.Utils}">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div> <!-- .layout-footer -->
