<div class="rw-section rw-header">
  <div class="rw-inner clearfix">
    <div class="grid-container">

      <div class="grid desk-8 mob-6 alpha clearfix">
        <div class="logo-holder">
          <img src="assets/placeholder/logo.png" class="logo" alt="" />
        </div>
        <nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
          <ul class="menu horizontal">
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="recipes.html">Recipes</a>
              <ul class="sub-menu">
                <li><a href="single-recipe.html">Single recipe</a></li>
                <li><a href="submit-recipe.html">Submit recipe</a></li>
              </ul>
            </li>
            <li>
              <a href="blog.html">Blog</a>
              <ul class="sub-menu">
                <li><a href="single-blog.html">Blog single</a></li>
              </ul>
            </li>
            <li>
              <a href="recipe-tag-index.html">Index</a>
              <ul class="sub-menu">
                <li><a href="recipe-tag-index.html">Tags</a></li>
                <li><a href="recipe-ingredients.html">Ingredients</a></li>
              </ul>
            </li>
            <li><a href="forums.html">Forums</a></li>
            <li><a href="requests.html">Requests</a></li>
            <li>
              <a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="members.html">Members</a></li>
                <li><a href="public-collections.html">Public collections</a></li>
                <li><a href="help-faq.html">Help: FAQ</a></li>
                <li><a href="help-ask-question.html">Help: Ask question</a></li>
                <li><a href="help-all-questions.html">Help: All questions</a></li>
                <li><a href="404.html">404 page</a></li>
                <li>
                  <a href="#">Next sub menu</a>
                  <ul class="sub-menu">
                    <li><a href="#">Test this</a></li>
                    <li><a href="#">Test this</a></li>
                    <li><a href="#">Test this</a></li>
                    <li>
                      <a href="#">Menu2</a>
                      <ul class="sub-menu">
                        <li><a href="#">Test this</a></li>
                        <li><a href="#">Test this</a></li>
                        <li><a href="#">Test this</a></li>
                        <li>
                          <a href="#">Next sub menu3</a>
                          <ul class="sub-menu">
                            <li><a href="#">Test this</a></li>
                            <li><a href="#">Test this</a></li>
                            <li><a href="#">Test this</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="page-sidebar-right.html">Page sidebar right</a></li>
                <li><a href="page-sidebar-left.html">Page sidebar left</a></li>
              </ul>
            </li>
            <li>
              <a href="elem-colors.html">More</a>
              <ul class="sub-menu">
                <li><a href="elem-colors.html">Colors</a></li>
                <li><a href="elem-buttons.html">Buttons</a></li>
                <li><a href="elem-typography.html">Typography</a></li>
                <li><a href="elem-form.html">Form</a></li>
                <li><a href="elem-accordion.html">Accordion</a></li>
                <li><a href="elem-grid.html">Grid system</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="grid desk-4 mob-6 omega">
        <nav id="the-user-menu" class="main-menu-nav">
          <ul class="menu horizontal align-right">

            <!-- Notifications -->
            <li class="to-left-more">
              <a href="profile-notifications.html" class="menu-single-icon">
                <i class="fa fa-bell"></i>
              </a>
              <ul class="sub-menu user-notes">

                <li>
                  <div class="note">
                    <div class="user-message">
                      <img src="assets/placeholder/people/50x50/3.jpg" class="avatar" alt="" />
                      <div class="username"><a href="#">Jeff Mitchell</a> on <a href="#">Chicken Salad with...</a></div>
                      <div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
                      <div class="date">28 jan 2014</div>
                      <i class="fa fa-comment-o type"></i>
                    </div>
                  </div>
                  <div class="note">
                    <div class="user-message">
                      <img src="assets/placeholder/people/50x50/4.jpg" class="avatar" alt="" />
                      <div class="username"><a href="#">Michelle Nelson</a> followed you</div>
                      <div class="date">28 jan 2014</div>
                      <i class="fa fa-check-square-o type"></i>
                    </div>
                  </div>
                  <div class="note">
                    <div class="user-message">
                      <img src="assets/placeholder/people/50x50/5.jpg" class="avatar" alt="" />
                      <div class="username"><a href="#">Steven Martinez</a> liked <a href="#">Spicy Rapid Roast Chicken</a></div>
                      <div class="date">28 jan 2014</div>
                      <i class="fa fa-thumbs-o-up type"></i>
                    </div>
                  </div>
                  <div class="note">
                    <div class="user-message">
                      <img src="assets/placeholder/people/50x50/8.jpg" class="avatar" alt="" />
                      <div class="username"><a href="#">Daniel Thompson</a> added to favorites <a href="#">Creamy Shrimp and Broccoli Fettuccine</a></div>
                      <div class="date">28 jan 2014</div>
                      <i class="fa fa-heart-o type"></i>
                    </div>
                  </div>
                  <div class="note">
                    <div class="user-message">
                      <img src="assets/placeholder/people/50x50/19.jpg" class="avatar" alt="" />
                      <div class="username"><a href="#">Maria Bello</a> added <a href="#">Chicken and Rice Casserole</a> to the collection <a href="#">Special recipes</a></div>
                      <div class="date">28 jan 2014</div>
                      <i class="fa fa-bookmark-o type"></i>
                    </div>
                  </div>
                </li>

                <li class="go-to-all"><a href="profile-notifications.html">View all notifications</a></li>
              </ul>
            </li>

            <!-- Messages -->
            <li class="to-left-more">
              <a href="profile-private-messages.html" class="menu-single-icon">
                <i class="fa fa-envelope"></i>
                <span class="new-info">2</span>
              </a>
              <ul class="sub-menu user-notes">
                <li>
                  <div class="note">
                    <a href="#">
                      <div class="user-message">
                        <img src="assets/placeholder/people/50x50/22.jpg" class="avatar" alt="" />
                        <div class="username">Steven Martinez</div>
                        <div class="message">"Hello, I need help regarding your recipe..."</div>
                        <div class="date">5 minutes ago</div>
                        <i class="fa fa-envelope-o type"></i>
                      </div>
                    </a>
                  </div>
                  <div class="note">
                    <a href="#">
                      <div class="user-message">
                        <img src="assets/placeholder/people/50x50/21.jpg" class="avatar" alt="" />
                        <div class="username">Michelle Nelson</div>
                        <div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
                        <div class="date">5 days ago</div>
                        <i class="fa fa-envelope-o type"></i>
                      </div>
                    </a>
                  </div>
                  <div class="note">
                    <a href="#">
                      <div class="user-message">
                        <img src="assets/placeholder/people/50x50/1.jpg" class="avatar" alt="" />
                        <div class="username">Jeff Mitchell</div>
                        <div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
                        <div class="date">28 jan 2014</div>
                        <i class="fa fa-envelope-o type"></i>
                      </div>
                    </a>
                  </div>
                  <div class="note">
                    <a href="#">
                      <div class="user-message">
                        <img src="assets/placeholder/people/50x50/11.jpg" class="avatar" alt="" />
                        <div class="username">Daniel Thompson</div>
                        <div class="message">"Quis nostrud exercitation ullamco..."</div>
                        <div class="date">28 jan 2014</div>
                        <i class="fa fa-envelope-o type"></i>
                      </div>
                    </a>
                  </div>
                </li>

                <li class="go-to-all"><a href="profile-private-messages.html">View all messages</a></li>
              </ul>
            </li>

            <!-- Submission -->
            <li class="to-left-more">
              <a href="#" class="menu-single-icon"><i class="fa fa-plus"></i></a>
              <ul class="sub-menu">
                <li><a href="submit-recipe.html">Submit recipe</a></li>
                <li><a href="submit-request.html">Request a recipe</a></li>
                <li><a href="submit-forum-topic.html">New forums topic</a></li>
              </ul>
            </li>

            <!-- User menu -->
            <li class="to-left-more">
              <div class="user-details-in-menu">
                <a href="profile.html" class="avatar"><img src="assets/placeholder/people/50x50/2.jpg" alt="" /></a>
              </div>
              <ul class="sub-menu">
                <li><a href="profile.html">Public Profile</a></li>
                <li class="separator"><a href="profile-requests.html">Requests</a></li>
                <li><a href="profile-collections.html">Collections</a></li>
                <li><a href="profile-favorites.html">Favorites</a></li>
                <li class="separator"><a href="profile-likes.html">Likes</a></li>
                <li><a href="profile-reputation.html">Reputation</a></li>
                <li class="separator"><a href="profile-followers.html">Followers</a></li>
                <li><a href="profile-notifications.html">Notifications</a></li>
                <li><a href="profile-private-messages.html">Private Messages</a></li>
                <li class="separator"><a href="#">Settings</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

    </div> <!-- .grid-container -->
  </div> <!-- .rw-inner -->
</div> <!-- .rw-header -->
