<% content_for :application_content do %>
  <%= render 'layouts/header' %>

  <div class="rw-container rw-section">
    <div class="rw-inner clearfix">

      <%= content_for?(:main_content) ? yield(:main_content) : yield %>

    </div> <!-- .rw-inner -->
  </div> <!-- .rw-container -->

  <%= render 'layouts/footer' %>
<% end %>

<%= render template: "layouts/application" %>
