<% content_for :application_content do %>
  <div id="main">
    <%= content_for?(:main_content) ? yield(:main_content) : yield %>
  </div>

  <%= render 'layouts/side_menu' %>
<% end %>

<%= render template: "layouts/application" %>
